.root {
    -fx-font-family: "Ubuntu";
}

.label {
    -fx-font-size: 16pt;
    /* -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203); */
}

.combo-box-base {
    -fx-font-size: 16pt;
}

.display-button {
    -fx-font-size: 20pt;
}

.option-toggle-button {
    -fx-font-size: 14pt
}

.option-list-box {
    -fx-background-color: #eeeeee
}

.text-field {
    -fx-font-size: 14pt;
}

